.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.products-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.products-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-image:hover {
  opacity: 0.6;
}

.product-name:hover {
  color: rgb(255, 169, 138);
}

.product-card {
  height: 20rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.product-card:hover {
  cursor: pointer;
}
