.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 80%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: rgb(247, 241, 239);}

tr:hover {
  background-color: #cff2dd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #86efac;
  color: coral;
}

.button {
  border: 0;
  height: 1.5rem;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
}

.order {
  background-color: #86efac;
  margin-right: 1rem;
}

.remove {
  background-color: rgb(246, 155, 122);
}

.action-all {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.order-all {
  background-color: #76eda2;
  width: 6rem;
  display: flex;
  justify-content: center;
}

.remove-all {
  background-color: rgb(246, 155, 122);
  width: 6rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 10%;
}